In [22]:
#Importing library

import numpy as np
import pandas as pd
import datetime

In [23]:
#Import result file

result = pd.read_csv('./dataset/test.csv')

In [24]:
#Transform dates from '%d/%m/%Y' to datetime objects.
def transform_date(x):
    date = datetime.datetime.strptime(x, '%d/%m/%Y')
    return date

result['Date'] = result['Date'].map(transform_date)

In [26]:
#Create dictionary

d = {}

In [27]:
#Calculate sales of each store in each month

def estimate_sales(x):
    store = x['StoreID']
    month = x['Date'].month
    sales = x['IsOpen']
    if (store, month) in d.keys():
        d[(store, month)] += sales
    else:
        d[(store, month)] = sales
result.loc[:, ['StoreID', 'Date', 'IsOpen']].apply(estimate_sales, axis=1)

0        None
1        None
2        None
3        None
4        None
5        None
6        None
7        None
8        None
9        None
10       None
11       None
12       None
13       None
14       None
15       None
16       None
17       None
18       None
19       None
20       None
21       None
22       None
23       None
24       None
25       None
26       None
27       None
28       None
29       None
         ...
45659    None
45660    None
45661    None
45662    None
45663    None
45664    None
45665    None
45666    None
45667    None
45668    None
45669    None
45670    None
45671    None
45672    None
45673    None
45674    None
45675    None
45676    None
45677    None
45678    None
45679    None
45680    None
45681    None
45682    None
45683    None
45684    None
45685    None
45686    None
45687    None
45688    None
Length: 45689, dtype: object

In [31]:
#Create DataFrame

d1 = {'StoreID':[], 'Month':[], 'NumberOfSales':[]}

for s,m in d.keys():
    d1['StoreID'].append(s)
    d1['Month'].append(m)
    d1['NumberOfSales'].append(d[(s,m)])
    
final_result = pd.DataFrame(d1)

In [33]:
final_result

      StoreID  Month  NumberOfSales
0        1000      3             27
1        1000      4             23
2        1001      3             27
3        1001      4             23
4        1002      3             27
5        1002      4             23
6        1003      3             27
7        1003      4             23
8        1004      3             27
9        1004      4             23
10       1005      3             27
11       1005      4             23
12       1006      3             27
13       1006      4             23
14       1007      3             27
15       1007      4             23
16       1008      3             27
17       1008      4             23
18       1009      3             27
19       1009      4             23
20       1010      3             27
21       1010      4             23
22       1011      3             27
23       1011      4             23
24       1012      3             27
25       1012      4             23
26       1013      3             27
27       1013      4             23
28       1014      3             27
29       1014      4             23
...       ...    ...            ...
1468     1734      3             27
1469     1734      4             23
1470     1735      3             27
1471     1735      4             23
1472     1736      3             27
1473     1736      4             23
1474     1737      3             27
1475     1737      4             23
1476     1738      3             27
1477     1738      4             23
1478     1739      3             27
1479     1739      4             23
1480     1740      3             27
1481     1740      4             23
1482     1741      3             27
1483     1741      4             23
1484     1742      3             27
1485     1742      4             23
1486     1743      3             27
1487     1743      4             23
1488     1744      3             27
1489     1744      4             23
1490     1745      3             27
1491     1745      4             23
1492     1746      3             27
1493     1746      4             23
1494     1747      3             27
1495     1747      4             23
1496     1748      3             27
1497     1748      4             23

[1498 rows x 3 columns]

In [35]:
#Create csv

final_result.to_csv('delivery.csv')